.container {
  background-color: rgb(255, 232, 236);
  margin-top: 40px;
  margin-bottom: 50px;
  min-height: 870px;
  max-width: 800px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 2em;
  position: relative;
}
.title {
  text-align: center;
  text-shadow: 20 10 gray;
  text-decoration-line: overline;
}

.main-area {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 80px 10px 0 10px;
}

.input-area {
  margin-top: 3%;
  margin-left: 27%;
}

.input-box {
  width: 400px;
  height: 35px;
  margin-top: 10px;
  padding-left: 1em;
  position: relative;
  right: 2em;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.tabs-menu {
  display: flex;

  border-bottom: 1px solid gray;
  position: relative;
}

#menu_line {
  height: 4px;
  background-color: rgb(226, 89, 89);
  position: absolute;
  width: 50px;
  left: 0;
  top: 3.3em;
  padding: 0;
}

.tabs-menu div {
  padding: 1em;

  cursor: pointer;
}

.task-taps {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
.task-box {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
}

.task-done {
  text-align: left;
  text-decoration: line-through black;
  border: 1px solid rgb(235, 232, 232);
  border-radius: 8px;
  background-color: rgb(235, 232, 232);
  font-weight: bold;
  min-width: 32em;
}

.task-ing {
  text-align: left;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 8px;
  font-weight: bold;
  min-width: 32em;
}

.check_btn {
  border: none;
  border-radius: 4px;
  background: none;
}

.delete_btn {
  border: none;
  border-radius: 4px;
  background: none;
}

.plus_button {
  border-radius: 4px;
}
