.container {
  background-color: rgb(255, 220, 225);
  box-sizing: inherit;
  margin-top: 40px;
  margin-bottom: 50px;
  height: 55em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-top: 20px;
}
.title {
  text-align: center;
  text-shadow: 20 10 gray;
}

.main-area {
  border: 2px solid gray;
  margin: 50px 10px 0 10px;
}

.input-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-box {
  width: 500px;
  margin-top: 10px;
}
.plus_button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 10px;
  outline: none;
  padding: 10px;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.taps-menu {
  display: flex;
  border-bottom: 2px solid gray;
  position: relative;
}

#menu_line {
  height: 4px;
  background-color: rgb(226, 89, 89);
  position: absolute;
  width: 50px;
  left: 0;
  top: 52px;
  padding: 0;
}

.taps-menu div {
  padding: 1em;
}

.task-taps {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
